body {
    padding-top: 120px;
}

form {
    margin: 30px 0;
}

input {
    margin: 0px;
}

h1 {
    padding-left: 22px;
    padding-bottom: 5px;
    font-size: 18px;
    color: #664433;
    border-bottom: solid 2px #D3C9C5;
    background-image: url(icon.png);
    background-repeat: no-repeat;
    }

h2 {

    font-size: 18px;
    color: #664433;
}

p {
    font-size:14px;
}

.list-group-item {
    border: none;
    color: #333333;
    background-image: url(arrow.png);
    background-repeat: no-repeat;
    background-position: 10px;
}

.btn-group {
    padding: 0;
}

.cook  {
    border-top: dashed 1px #cccccc;

}

.recipe01 {
    margin: 30px 0;
}

.recipe02 {
    font-size: 14px;
}

.contents {
    margin: 30px 0;
}

.underRecipe {
  padding-bottom: 10px;
}

footer {
    margin: 30px 0;
    border-top: solid 1px #D3C9C5;
}

footer a {
    font-size: 14px;
    color: #333333
}

.fmenu {
    margin-top: 5px;
}

@media (max-width: 767px) {
    body {
        padding-top: 83px;
    }

    .hicon {
        margin-top: -53px;
    }

    .logo {
      width: 65%;
    }

    .btn-block {
      font-size: 13px;
    }

}

@media (min-width: 768px) {

    .line {
        border-left: solid 1px #c0c0c0;

    }
}
